
$regular-weight: 400;
$bold-weight: 700;

$outer-shadow-blue: 0 1px 0 0 #110038;
$inner-shadow-grey: inset -2px -2px 0 0 #B4B4B4,inset 2px 2px 0 0 #FFFF;

// SAILOR DAY MIXINS //

$gradient-day: linear-gradient(225deg, #F7C9F3 0%, #4180F6 100%);

@mixin day-btn {
    background-color: #F7C9F3;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #997D97,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

@mixin day-btn-hover {
    background-color: #E6BBE2;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin day-btn-cancel {
    background-color: #FFF4FD;
}

@mixin day-btn-cancel-hover {
    background-color: #FFF4FD;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin day-window-body {
    background-color: #E6E6E6;
    box-shadow: 
    inset -2px -2px 0 0 #B4B4B4,
    inset 2px 2px 0 0 #FFFFFF;
}

@mixin day-window-btn {
    background-color: #F0F0F0;
    border-style: solid;
    border-color:#808080;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #B4B4B4,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

@mixin day-window-btn-hover {
    background-color: #DBDBDB;
    border-style: solid;
    border-color:#808080;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #B4B4B4,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin day-window-btn-listener {
    background-color: #F7C9F3;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #997D97,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

@mixin day-window-btn-active {
    background-color: #E6BBE2;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #997D97,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}


@mixin day-theme-btn-active {
    background-color: #FFF4FD;
    border-style: solid;
    border-color:#CCA6C9;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #E6DCE4,
    inset 1px 1px 0 0 #FFFFFF;    
}

/*Search bar input, common to both themes*/
@mixin input-style {
    background-color: #FFFFFF;
    border-style: solid;
    border-color:#979797;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #E6E6E6,
    inset 2px 2px 0 0 #000000;
    color: #B4B4B4;
}

/*Section headers with "text input style*/
@mixin day-section-header {
    background-color: #FFFAFE;
    border-style: solid;
    border-color:#E6BBE2;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #E6DCE4,
    inset 2px 2px 0 0 #80687D;
}

@mixin day-window-header {
    background-image: $gradient-day;
    color: #FFFFFF;
    font-weight: $bold-weight;
}

@mixin day-more-btn {
    background-color: #4180F6;
    border-style: solid;
    border-color:#4C2F99;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #284F99,
    inset 2px 2px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin day-more-btn {
    background-color: #4180F6;
    border-style: solid;
    border-color:#4C2F99;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #284F99,
    inset 2px 2px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin day-more-btn-hover {
    outline: 1px dotted #110038;
    outline-offset: -3px;
    background-color: #3A72DB;
}

@mixin recording-ready {
    background-color: #FF6161;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #993A3A,
    inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin recording-ready-hover {
    background-color: #cc4d4d;
    outline: 1px dotted #110038;
    outline-offset: -3px;;
}

// END OF SAILOR DAY MIXINS //


// SAILOR NIGHT MIXINS //
$gradient-night: linear-gradient(225deg, #EE3EFE 0%, #2E32FB 100%);

@mixin night-btn {
    background-color: #EE3EFE;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #A72CB3,
    inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin night-btn-hover {
    background-color: #CE36DB;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin night-btn-cancel {
    color: #110038;
    background-color: #B4B4B4;
    box-shadow: 
    inset -1px -1px 0 0 #110038,
    inset 1px 1px 0 0 #FFFFFF;
}

@mixin night-btn-cancel-hover {
    background-color: #808080;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin night-window-body {
    background-color: #B4B4B4;
    box-shadow: 
    inset -2px -2px 0 0 #8F8F8F,
    inset 2px 2px 0 0 #FFFFFF;
}

@mixin night-window-btn {
    background-color: #CCCCCC;
    border-style: solid;
    border-color:#808080;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #B4B4B4,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

@mixin night-window-btn-listener {
    color: #FFFFFF;
    background-color: #EE3EFE;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #A72CB3,
    inset 1px 1px 0 0 #FFFFFF;
}

@mixin night-window-btn-active {
    color: #FFFFFF;
    background-color: #EE3EFE;
    border-style: solid;
    border-color:#110038;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #A72CB3,
    inset 1px 1px 0 0 #FFFFFF;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

@mixin night-theme-btn-active {
    background-color: #2E32FB;
    border-style: solid;
    //border-color:#33358F 20%;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #E6DCE4,
    inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin night-window-btn-hover { 
    background-color: #DBDBDB;
    border-style: solid;
    border-color:#808080;
    border-width: 1px;
    box-shadow: 
    inset -1px -1px 0 0 #B4B4B4,
    inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

/*Section headers with "text input style*/
@mixin night-section-header {
    background-color: #FFFAFE;
    border-style: solid;
    border-color:#2E32FB;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #E6DCE4,
    inset 2px 2px 0 0 #110038;
}

@mixin night-window-header {
    background-image: $gradient-night;
    color: #FFFFFF;
    font-weight: $bold-weight;
}

@mixin night-more-btn {
    background-color: #2E32FB;
    border-style: solid;
    border-color:#4C2F99;
    border-width: 1px;
    box-shadow: 
    inset -2px -2px 0 0 #2124B3,
    inset 2px 2px 0 0 #FFFFFF;
    color: #FFFFFF;
}

@mixin night-more-btn-hover {
    outline: 1px dotted #110038;
    outline-offset: -3px;
    background-color: #2629CC;
}