@import "_variables.scss";


.night {
    
    background-color: #110038;
    
    .header {
        background-image: $gradient-night;
        box-shadow: $outer-shadow-blue;
    }

    .logo {
        background: url(/gifOs/assets/gifos_logo_dark.png)no-repeat center;
    }

    .menu {
        color: #FFFFFF;
    }

    .btn-menu, .btn-menu-large, .btn-menu-extralarge{    
        @include night-btn;
        &:hover {
        @include night-btn-hover;
        }
    }

    .cancel {    
        @include night-btn-cancel;
        &:hover {
        @include night-btn-cancel-hover;
        }
    }

    .theme-hover:hover {
        .btn-dropdown{
            @include night-btn-hover;
            border-width: 1px 1px 1px 0;
        }
        .btn-menu {
            @include night-btn-hover;
        }
    }

    .btn-dropdown {
        @include night-btn;
        border-width: 1px 1px 1px 0;
    }

    .dropdown-icon {
        filter: invert(100%);
    }

    .dropdown-content {
        @include night-window-body; 

        .selector {    
            @include night-window-btn;
            &:hover {
                @include night-theme-btn-active;
                .underline {
                    text-decoration: underline;
                }
            }
        }
    }

    .btn-dropdown-active-theme {
        @include night-theme-btn-active;
        .underline {
            text-decoration: underline;
        }
    }

    .my-gifos {
        color: #FFFFFF;
        &:hover {
            outline: 1px dotted #FFFFFF; 
            .underline {
                text-decoration: underline;
            }
        }
    }

    .my-gifos-active {
        color: #8F8F8F;
        .underline {
            text-decoration: underline;
        }
    }

    .underline {
        text-decoration: none;
    }

    .search-bar {
        @include night-window-body;
    }

    .search-bar-form input {
        @include input-style;
    }

    .window-header {
    @include night-window-header;
    }

    .search-btn-submit {
        @include night-window-btn;
        color: #B4B4B4;
        background-color: #E6E6E6;
    }

    .search-btn-listener {
        @include night-window-btn-listener;
        img {
            filter: invert(100%);
        }
    }

    .search-btn-active {
        @include night-window-btn-active;
        img {
            filter: invert(100%);
        }
    }


    .section-header {
        @include night-section-header;
    }

    .search-bar-suggestions {
        @include night-window-body;
    }

    .suggestions-btn {
        @include night-window-btn;
        &:hover {
            @include night-window-btn-hover;
        }
    }

    .suggestions-gif {
        @include night-window-body;
    }

    .gif-header {
        @include night-window-header;
    }

    .gif-btn-more {
        @include night-more-btn;
        &:hover {
            @include night-more-btn-hover;
        }
    }

    .gif-frame:hover{
        @include night-window-body;
        outline: 1px dotted #110038;
        outline-offset: -4px;
    }

    .trends-content {
        &:hover {
            outline: 1px dotted #110038;
            outline-offset: -1px;
        }
    }


    .gif-footer {
        @include night-window-header;
    }

    .suggestions-content:hover {
            outline: 1px dotted #110038;
            outline-offset: -1px;
            .gif-btn-more {
                outline: 1px dotted #110038;
                outline-offset: -3px;
            }
        }

    .results-examples-btn {
        @include night-more-btn;
    }

    .create-start-window {
        @include night-window-body;
    }
    
    .create-main-window {
        @include night-window-body;
    }

    .capture-frame, .success-frame {
        @include input-style;
    }
    
    .split-btn:hover {
        .capture {
            @include night-btn-hover;    
        }
        .ready {
            @include recording-ready-hover;
        }
    }

    .capture {
        @include night-btn; 
        &:first-child {
            border-width: 1px 0 1px 1px;
            img {
                filter: invert(100%);
            }
        }
    }

    .ready {
        @include recording-ready;
        &:first-child {
            border-width: 1px 0 1px 1px;
        }
    }

    .timer {
        @include input-style;
        color: #110038;
    }

    .play-icon {
        @include night-btn;
        &:hover {
            @include night-btn-hover;
        }
    }

    .loading-bar-animation,  .loading-bar-animation-large {
        @include input-style;
        background-color: #B4B4B4;
    }

    .progress-full {
        background-color: #EE3EFE;
    }


}

